@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  overscroll-behavior: none;
}

[class*="__container"] {
  max-width: 1065px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  padding: 20px 74px;
  background: #59bb50;
  border-radius: 15px;
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
  color: #fff;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

@media (any-hover: hover) {
  .btn:hover {
    background: #448d3d;
  }
}

@media (max-width: 425px) {
  .btn {
    font-size: 18px;
    padding: 16px 60px;
    border-radius: 10px;
  }
}

.header {
  background: #59bb50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    min-height: 80px;
  }
}

@media (max-width: 450px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo-link {
  z-index: 10;
  padding-right: 10px;
}

@media (max-width: 992px) {
  .header__logo-link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.header__logo img {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .header__logo {
    max-width: 150px;
  }
}

@media (max-width: 450px) {
  .header__logo {
    max-width: 30px;
  }
}

.header__menu {
  padding-right: 5px;
}

.header__tel {
  z-index: 10;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .header__tel:hover {
    color: #252525;
  }
}

@media (max-width: 1024px) {
  .header__tel {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .header__tel {
    display: none;
  }
}

@media (max-width: 992px) {
  .menu__body {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    background: #252525;
    padding: 100px 15px 30px 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 80px;
    background: #59bb50;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 992px) and (max-width: 450px) {
  .menu__body::before {
    height: 70px;
  }
}

@media (max-width: 992px) {
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    content: "";
    left: 0;
  }
}

.menu__list {
  text-align: center;
}

@media (min-width: 993px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
}

.menu__item {
  padding: 5px 0;
}

@media (min-width: 451px) {
  .menu__item_tel {
    display: none;
  }
}

.menu__link {
  color: #fff;
  line-height: 125%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #252525;
  }
}

@media (max-width: 992px) {
  .menu__link {
    font-weight: 700;
    font-size: 26px;
  }
}

.icon-menu {
  display: none;
}

@media (max-width: 992px) {
  .icon-menu {
    margin-left: 25px;
    background: transparent;
    padding: 11px;
    display: block;
    position: relative;
    width: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    z-index: 5;
    cursor: pointer;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(46% - 1px);
  }
  .icon-menu._active span {
    width: 0px;
  }
  .icon-menu._active::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .icon-menu._active::after {
    bottom: calc(50% - 3px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.main-page {
  background: url("../img/main/bg.jpg") 0 0/100% 100% no-repeat;
  min-height: 553px;
}

@media (max-width: 767px) {
  .main-page {
    min-height: 450px;
  }
}

@media (max-width: 550px) {
  .main-page {
    min-height: 400px;
  }
}

@media (max-width: 425px) {
  .main-page {
    min-height: 280px;
  }
}

.main-page__title {
  padding-top: 115px;
  font-size: 64px;
  font-weight: 700;
  line-height: 115.625%;
  color: #fff;
  max-width: 715px;
}

.main-page__title:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .main-page__title {
    font-size: 48px;
    max-width: 600px;
  }
}

@media (max-width: 767px) {
  .main-page__title {
    padding-top: 70px;
  }
}

@media (max-width: 550px) {
  .main-page__title {
    font-size: 36px;
    max-width: none;
  }
  .main-page__title:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .main-page__title {
    font-size: 27px;
    max-width: none;
    padding-top: 30px;
  }
}

.main-page__desc {
  font-size: 18px;
  line-height: 122.22222%;
  color: #fff;
  max-width: 430px;
}

.main-page__desc:not(:last-child) {
  margin-bottom: 70px;
}

@media (max-width: 550px) {
  .main-page__desc:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .main-page__desc {
    font-size: 14px;
    max-width: none;
  }
}

.about-us {
  padding: 125px 0;
}

@media (max-width: 992px) {
  .about-us {
    padding: 70px 0;
  }
}

@media (max-width: 525px) {
  .about-us {
    padding: 50px 0;
  }
}

@media (max-width: 425px) {
  .about-us {
    padding: 30px 0;
  }
}

.about-us__title:not(:last-child) {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .about-us__title:not(:last-child) {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .about-us__title:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .about-us__title:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about-us__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: 30px;
}

@media (max-width: 1024px) {
  .about-us__row {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .about-us__row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 525px) {
  .about-us__row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 114.58333%;
  color: #252525;
}

@media (max-width: 992px) {
  .title {
    font-size: 42px;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 24px;
  }
}

.item-about-us {
  color: #252525;
}

.item-about-us__img img {
  max-width: 132px;
  max-height: 100px;
}

.item-about-us__img:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .item-about-us__img:not(:last-child) {
    margin-bottom: 15px;
  }
}

.item-about-us__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.item-about-us__title:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .item-about-us__title:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 550px) {
  .item-about-us__title {
    font-size: 18px;
  }
}

.item-about-us__desc {
  font-size: 18px;
  line-height: 122.22222%;
  font-weight: 500;
}

@media (max-width: 767px) {
  .item-about-us__desc:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 550px) {
  .item-about-us__desc {
    font-size: 14px;
  }
}
