@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap");

body {
	font-family: "Montserrat", sans-serif;

	&._lock {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

// ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА
$lightGreyColor: #4a4a4a;
$blackColor: #252525;
$whiteColor: #fff;
$greenColor: #59bb50;
$greenColorHover: #448d3d;
// ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА ЦВЕТА

// ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ
[class*="__container"] {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.btn {
	padding: 20px 74px;
	background: $greenColor;
	border-radius: 15px;
	font-size: 24px;
	line-height: (30/24 * 100%);
	font-weight: 600;
	color: $whiteColor;
	transition: background 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background: $greenColorHover;
		}
	}
	@media (max-width: 425px) {
		font-size: 18px;
		padding: 16px 60px;
		border-radius: 10px;
	}
}
.title {
	font-size: 48px;
	font-weight: 700;
	line-height: (55/48 * 100%);
	color: $lightGreyColor;
	text-transform: uppercase;
	@media (max-width: 992px) {
		font-size: 42px;
	}
	@media (max-width: 550px) {
		font-size: 30px;
		text-align: center;
	}
	@media (max-width: 425px) {
		font-size: 24px;
	}
	&_w {
		color: $whiteColor;
	}
}
// ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ ОБЩИЕ СТИЛИ

// HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER
.header {
	z-index: 100;
	background: $greenColor;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	// .header__container

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: 100px;
		justify-content: space-between;

		@media (max-width: 992px) {
			justify-content: start;
			min-height: 80px;
		}
		@media (max-width: 450px) {
			min-height: 70px;
		}
	}

	&__logo-link {
		z-index: 10;
		padding-right: 10px;
		@media (max-width: 992px) {
			flex: 1 1 auto;
		}
	}

	// .header__logo

	&__logo {
		img {
			max-width: 100%;
		}
		@media (max-width: 1024px) {
			max-width: 150px;
		}
		@media (max-width: 450px) {
			max-width: 30px;
		}
	}

	// .header__menu

	&__menu {
		padding-right: 5px;
	}

	// .header__tel

	&__tel {
		z-index: 10;
		color: $whiteColor;
		font-size: 20px;
		font-weight: 600;
		line-height: (25/20 * 100%);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $blackColor;
			}
		}
		@media (max-width: 1024px) {
			font-size: 18px;
		}
		@media (max-width: 450px) {
			display: none;
		}
	}
}
.menu {
	// .menu__body

	&__body {
		@media (max-width: 992px) {
			z-index: 2;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0%;
			left: -100%;
			background: $blackColor;
			padding: 100px 15px 30px 15px;
			transition: all 0.3s ease 0s;
			overflow: auto;
			&::before {
				content: "";
				z-index: 2;
				position: fixed;
				width: 100%;
				top: 0;
				left: -100%;
				height: 80px;
				background: $greenColor;
				z-index: 2;
				transition: all 0.3s ease 0s;
				@media (max-width: 450px) {
					height: 70px;
				}
			}
			&._active {
				left: 0;
				&::before {
					content: "";
					left: 0;
				}
			}
		}
	}

	// .menu__list

	&__list {
		@media (min-width: 993px) {
			display: flex;
			column-gap: 25px;
		}
		text-align: center;
	}

	// .menu__item

	&__item {
		padding: 5px 0;
		&_tel {
			@media (min-width: 451px) {
				display: none;
			}
		}
	}

	// .menu__link

	&__link {
		cursor: pointer;
		color: $whiteColor;
		line-height: (25/20 * 100%);
		transition: color 0.3s ease 0s;
		font-size: 16px;
		@media (any-hover: hover) {
			&:hover {
				color: $lightGreyColor;
			}
		}
		@media (max-width: 992px) {
			font-weight: 700;
			font-size: 26px;
		}
	}
}
.icon-menu {
	display: none;
	@media (max-width: 992px) {
		margin-left: 25px;
		background: transparent;
		padding: 11px;
		display: block;
		position: relative;
		width: 30px;
		flex: 0 0 30px;
		height: 18px;
		z-index: 5;
		cursor: pointer;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 4px;
			border-radius: 1px;
			background-color: $whiteColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(46% - 1px);
		}
		&._active {
			span {
				width: 0px;
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 3px);
				transform: rotate(45deg);
			}
		}
	}
}
// HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER

.main-page {
	background: url("../img/main/bg.jpg") 0 0 / 100% 100% no-repeat;
	padding: 140px 0;
	@media (max-width: 525px) {
		padding: 70px 0;
	}
	@media (max-width: 425px) {
		padding: 65px 0 30px 0;
	}

	// .main-page__container

	&__container {
	}

	// .main-page__title

	&__title {
		padding-top: 115px;
		font-size: 64px;
		font-weight: 700;
		line-height: (74/64 * 100%);
		color: $whiteColor;
		max-width: 715px;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: 992px) {
			font-size: 48px;
			max-width: 600px;
		}
		@media (max-width: 767px) {
			padding-top: 70px;
		}
		@media (max-width: 550px) {
			font-size: 36px;
			max-width: none;
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		@media (max-width: 425px) {
			font-size: 27px;
			padding-top: 30px;
		}
	}

	// .main-page__desc

	&__desc {
		font-size: 18px;
		line-height: (22/18 * 100%);
		color: $whiteColor;
		max-width: 430px;
		&:not(:last-child) {
			margin-bottom: 70px;
		}
		@media (max-width: 550px) {
			text-align: center;
			max-width: none;
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width: 425px) {
			font-size: 14px;
			max-width: none;
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}

	// .main-page__btn

	&__btn {
		cursor: pointer;
		display: inline-block;
		@media (max-width: 550px) {
			display: flex;
			justify-content: center;
		}
	}
}
//========================================================================================================================================================

.products {
	padding: 140px 0 70px 0;

	@media (max-width: 525px) {
		padding: 50px 0 25px 0;
	}
	@media (max-width: 425px) {
		padding: 30px 0 15px 0;
	}
	// .products__container

	&__container {
	}

	// .products__row

	&__row {
		display: flex;
		align-items: center;
		gap: 30px;
		&:not(:last-child) {
			margin-bottom: 100px;
		}
		@media (max-width: 550px) {
			&:not(:last-child) {
				margin-bottom: 70px;
			}
		}
		@media (max-width: 550px) {
			flex-direction: column;
			gap: 15px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .products__title

	&__title {
	}

	// .products__price

	&__price {
		font-size: 24px;
		font-weight: 700;
		line-height: (30/24 * 100%);
		color: $greenColor;
		text-decoration: underline;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $greenColorHover;
			}
		}
		@media (max-width: 767px) {
			font-size: 20px;
		}
		@media (max-width: 550px) {
			font-size: 16px;
			text-align: center;
		}
	}

	// .products__body

	&__body {
		display: flex;
		gap: 30px;
		@media (max-width: 767px) {
			gap: 20px;
			flex-direction: column;
		}
	}

	// .products__column

	&__column {
		display: grid;
		row-gap: 20px;
		flex: 1 1 50%;
	}

	// .products__item

	&__item {
	}
}

.item-products {
	// .item-products__body

	&__body {
		cursor: pointer;
		border-radius: 12px;

		&_1 {
			background: url("../img/products/1.png") 0 0 / cover no-repeat;
		}
		&_2 {
			background: url("../img/products/2.png") 0 0 / cover no-repeat;
		}
		&_3 {
			background: url("../img/products/3.png") 0 0 / cover no-repeat;
		}
		&_4 {
			background: url("../img/products/4.png") 0 0 / cover no-repeat;
		}
		&_5 {
			background: url("../img/products/6.png") 0 0 / cover no-repeat;
		}
		&_6 {
			background: url("../img/products/06.jpg") 0 0 / cover no-repeat;
		}
	}

	// .item-products__title

	&__title {
		display: flex;
		align-items: center;
		z-index: 20;
		padding: 40px 10px 40px 50px;
		font-size: 32px;
		line-height: (38/32 * 100%);
		font-weight: 600;
		color: $whiteColor;
		&::before {
			content: "";
			display: inline-block;
			margin-right: 20px;
			width: 22px;
			height: 22px;
			background: url("../img/products/ellips.svg") 0 0 / 100% 100% no-repeat;
			@media (max-width: 550px) {
				width: 16px;
				height: 16px;
				margin-right: 10px;
			}
		}
		@media (max-width: 1080px) {
			font-size: 28px;
			padding: 40px 10px 40px 30px;
		}
		@media (max-width: 992px) {
			font-size: 22px;
			padding: 30px 15px;
		}
		@media (max-width: 550px) {
			font-size: 18px;
			padding: 30px 15px;
		}
	}
}

//========================================================================================================================================================

.delivery {
	padding: 70px 0;

	@media (max-width: 525px) {
		padding: 25px 0;
	}
	@media (max-width: 425px) {
		padding: 15px 0;
	}
	// .delivery__container

	&__container {
	}

	// .delivery__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 100px;
		}
		@media (max-width: 992px) {
			&:not(:last-child) {
				margin-bottom: 70px;
			}
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width: 425px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .delivery__row

	&__row {
		display: flex;
		column-gap: 30px;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
		@media (max-width: 992px) {
			flex-direction: column;
			row-gap: 30px;
		}
		&_fc {
			&:not(:last-child) {
				margin-bottom: 70px;
			}
			@media (max-width: 550px) {
				&:not(:last-child) {
					margin-bottom: 30px;
				}
			}
		}
	}

	// .delivery__text

	&__text {
		font-size: 18px;
		line-height: (26/18 * 100%);
		font-weight: 500;
		color: $lightGreyColor;
		@media (min-width: 993px) {
			&:first-child {
				margin-right: 50px;
				max-width: 600px;
			}
		}

		@media (max-width: 550px) {
			font-size: 14px;
			text-align: center;
		}
	}

	// .delivery__img

	&__img {
		flex: 0 0 450px;
		img {
			max-width: 100%;
			border-radius: 12px;
			width: 100%;
		}
		@media (max-width: 992px) {
			flex: 1 1 100%;
		}
	}

	// .delivery__label

	&__label {
		line-height: (38/28 * 100%);
		font-size: 28px;
		font-weight: 600;
		color: $lightGreyColor;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
		@media (max-width: 550px) {
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 30px;
				font-size: 18px;
			}
		}
	}

	// .delivery__body

	&__body {
	}

	// .delivery__link

	&__link {
		color: $greenColor;
		font-size: 18px;
		font-weight: 700;
		display: inline-block;
		&:not(:first-child) {
			margin-top: 20px;
		}
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $greenColorHover;
			}
		}
		@media (max-width: 550px) {
			font-size: 14px;
			text-align: center;
			display: block;
		}
	}
}
//========================================================================================================================================================

.promotions {
	background-color: $greenColor;
	padding: 70px 0;

	@media (max-width: 525px) {
		padding: 25px 0;
	}
	@media (max-width: 425px) {
		padding: 15px 0;
	}
	// .promotions__container

	&__container {
	}

	// .promotions__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 100px;
		}
		@media (max-width: 992px) {
			&:not(:last-child) {
				margin-bottom: 70px;
			}
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width: 425px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .promotions__slider

	&__slider {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	// .promotions__wrapper

	&__wrapper {
	}

	// .promotions__slide

	&__slide {
		cursor: grab;
	}
	//========================================================================================================================================================
	// .promotions__arrows

	&__arrows {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 30px;
		@media (max-width: 550px) {
			justify-content: center;
		}
	}

	// .promotions__arrow

	&__arrow {
		background: transparent;
		transition: all 0.3s ease 0s;
		@media (max-width: 550px) {
			image {
				width: 80px;
				height: 126px;
			}
		}
	}

	// .promotions__prev

	&__prev {
		transform: rotate(-180deg);
	}

	// .promotions__next

	&__next {
		padding-top: 4px;
	}
}

.slide-promotions {
	// .slide-promotions__row

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		@media (max-width: 767px) {
			flex-direction: column-reverse;
			align-items: start;
		}
	}

	// .slide-promotions__img

	&__img {
		border-radius: 15px;
		border: 3px solid #fff;
		img {
			max-width: 100%;
			border-radius: 15px;
		}
	}

	// .slide-promotions__body

	&__body {
		color: $whiteColor;
		@media (min-width: 768px) {
			width: 50%;
		}
		@media (max-width: 550px) {
			text-align: center;
		}
	}

	// .slide-promotions__title

	&__title {
		font-size: 32px;
		line-height: (40/32 * 100%);
		font-weight: 600;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: 992px) {
			font-size: 24px;
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		@media (max-width: 550px) {
			font-size: 16px;
		}
	}

	// .slide-promotions__desc

	&__desc {
		font-size: 18px;
		line-height: (22/18 * 100%);
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		@media (max-width: 992px) {
			font-size: 16px;
		}
		@media (max-width: 550px) {
			font-size: 14px;
		}
	}
}

//========================================================================================================================================================

.about-us {
	padding: 70px 0;

	@media (max-width: 525px) {
		padding: 25px 0;
	}
	@media (max-width: 425px) {
		padding: 15px 0;
	}
	// .about-us__container

	&__container {
	}

	// .about-us__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 100px;
		}
		@media (max-width: 992px) {
			&:not(:last-child) {
				margin-bottom: 70px;
			}
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width: 425px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .about-us__row

	&__row {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		text-align: center;
		gap: 30px;
		@media (max-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 525px) {
			grid-template-columns: 1fr;
		}
	}

	// .about-us__item

	&__item {
	}
}

.item-about-us {
	color: $lightGreyColor;

	// .item-about-us__img

	&__img {
		img {
			max-width: 132px;
			max-height: 100px;
		}
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .item-about-us__title

	&__title {
		font-size: 24px;
		font-weight: 600;
		line-height: (30/24 * 100%);
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		@media (max-width: 550px) {
			font-size: 18px;
		}
	}

	// .item-about-us__desc

	&__desc {
		font-size: 18px;
		line-height: (22/18 * 100%);
		font-weight: 500;
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		@media (max-width: 550px) {
			font-size: 14px;
		}
	}
}
//========================================================================================================================================================

.contacts {
	padding: 70px 0;
	@media (max-width: 525px) {
		padding: 25px 0;
	}
	@media (max-width: 425px) {
		padding: 15px 0;
	}
	// .contacts__container

	&__container {
	}

	// .contacts__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 100px;
		}
		@media (max-width: 992px) {
			&:not(:last-child) {
				margin-bottom: 70px;
			}
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width: 425px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .contacts__row

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 525px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}

	// .contacts__column

	&__column {
		&:first-child {
			flex: 0 0 230px;
		}
		&:not(:last-child) {
			margin-right: 50px;
		}
		@media (max-width: 550px) {
			&:first-child {
				flex: 0 0 170px;
			}
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
		@media (max-width: 525px) {
			text-align: center;
			&:first-child {
				flex: 1 1 auto;
			}
		}
	}

	// .contacts__item

	&__item {
	}
}

.item-contacts {
	// .item-contacts__link

	&__link {
		a {
			color: $lightGreyColor;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: $greenColor;
				}
			}
		}
		font-size: 24px;
		font-weight: 600;
		line-height: (28/24 * 100%);
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		@media (max-width: 550px) {
			font-size: 18px;
		}
	}

	// .item-contacts__text

	&__text {
		font-size: 18px;
		font-weight: 600;
		line-height: (24/18 * 100%);
		color: $lightGreyColor;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		@media (max-width: 550px) {
			font-size: 14px;
		}

		// .item-contacts__text_email

		&_email {
			a {
				color: $lightGreyColor;
			}
		}

		// .item-contacts__text_fax

		&_fax {
		}

		// .item-contacts__text_adress

		&_adress {
		}
	}
}
//========================================================================================================================================================
.maps {
	padding: 70px 0 140px 0;
	@media (max-width: 525px) {
		padding: 25px 0 50px 0;
	}
	@media (max-width: 425px) {
		padding: 15px 0 30px 0;
	}
	// .maps__container

	&__container {
	}

	// .maps__title

	&__title {
		&:not(:last-child) {
			margin-bottom: 100px;
		}
		@media (max-width: 992px) {
			&:not(:last-child) {
				margin-bottom: 70px;
			}
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width: 425px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .maps__row

	&__row {
		display: flex;
		column-gap: 40px;
		@media (max-width: 767px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}

	// .maps__column

	&__column {
		flex: 1 1 50%;
		@media (max-width: 767px) {
			flex: 1 1 100%;
		}
	}

	// .maps__body

	&__body {
		display: flex;
		column-gap: 15px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 550px) {
			justify-content: center;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .maps__link

	&__link {
		font-size: 18px;
		line-height: (33/18 * 100%);
		font-weight: 700;
		color: $greenColor;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $greenColorHover;
			}
		}
		@media (max-width: 550px) {
			font-size: 16px;
			text-align: center;
		}
		// .maps__link_under
		&_under {
			text-decoration: underline;
		}
	}

	// .maps__img

	&__img {
		img {
			max-width: 100%;
			width: 100%;
		}
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	// .maps__text

	&__text {
		font-size: 18px;
		font-weight: 500;
		line-height: (33/18 * 100%);
		color: $lightGreyColor;
		@media (max-width: 550px) {
			font-size: 14px;
			text-align: center;
		}
	}
}

//========================================================================================================================================================

.footer {
	padding: 30px 0;
	background-color: $greenColor;
	// .footer__container

	&__container {
	}

	// .footer__logo

	&__logo {
		font-size: 27px;
		font-weight: 600;
		line-height: (30/27 * 100%);
		a {
			color: $whiteColor;
		}
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .footer__row

	&__row {
		display: flex;
		justify-content: space-between;
		gap: 30px 15px;
		@media (max-width: 767px) {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
	}

	// .footer__column

	&__column {
		@media (max-width: 767px) {
			flex: 1 1 100%;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}

	// .footer__link

	&__link {
		cursor: pointer;
		color: $whiteColor;
		transition: color 0.3s ease 0s;
		font-size: 16px;
		@media (any-hover: hover) {
			&:hover {
				color: $lightGreyColor;
			}
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		a {
			color: $whiteColor;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: $lightGreyColor;
				}
			}
		}
		&_w {
			font-weight: 600;
		}
	}
}

.modal-prod-1 {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 99998;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;

	// .modal__box

	&__box {
		position: relative;
		max-width: 1165px;
		width: 100%;
		z-index: 1;
		transform: scale(0);
		transition: transform 0.3s ease 0s;
		border-radius: 15px;
		background-color: $whiteColor;
		max-height: 90vh;
		overflow-y: auto;
		&_1 {
			background: url("../img/products/popap-new/01.png") 0 0 / cover no-repeat;
		}
		&_3 {
			background: url("../img/products/popap-new/03.png") 0 0 / cover no-repeat;
		}
		&_4 {
			background: url("../img/products/popap-new/04.png") 0 0 / cover no-repeat;
		}
		&_5 {
			background: url("../img/products/popap-new/05.png") 0 0 / cover no-repeat;
		}

		&_big {
		}
	}

	&__body {
		padding: 30px;
		@media (max-width: 767px) {
			padding: 15px;
		}
	}

	&__close {
		position: absolute;
		top: 8px;
		right: 8px;
		background-color: transparent;
		padding: 5px;
		@media (any-hover: hover) {
			&:hover {
				path {
					stroke: #252525;
					transition: stroke 0.3s ease 0s;
				}
			}
		}
	}
	// .modal__title
	&__title {
		font-size: 32px;
		font-weight: 600;
		line-height: (40/32 * 100%);
		color: $whiteColor;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		@media (max-width: 992px) {
			font-size: 28px;
		}
		@media (max-width: 767px) {
			font-size: 24px;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
		&_black {
			color: $lightGreyColor;
			font-weight: 700;
			font-size: 42px;
			&:not(:last-child) {
				margin-bottom: 45px;
			}
			@media (max-width: 992px) {
				font-size: 28px;
			}
			@media (max-width: 767px) {
				font-size: 24px;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}
		&_marg {
			@media (max-width: 400px) {
				padding-top: 25px;
			}
		}
	}

	&__content {
	}
	&._open {
		visibility: visible;
		opacity: 1;
	}
	&._open &__box {
		transform: scale(1);
	}

	// .modal-prod-1__main-title

	&__main-title {
		font-size: 36px;
		font-weight: 700;
		color: #252525;
		&:not(:last-child) {
			margin-bottom: 70px;
		}
		@media (max-width: 992px) {
			font-size: 28px;
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		@media (max-width: 767px) {
			font-size: 20px;
			margin-top: 30px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .modal-prod-1__main-desc

	&__main-desc {
		color: #4c4c4c;
		font-size: 16px;
		font-weight: 600;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
		line-height: 1.85;
		@media (max-width: 767px) {
			font-size: 20px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	&__main-link {
		color: $greenColor;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $greenColorHover;
			}
		}
	}

	// .modal-prod-1__main-wrap

	&__main-wrap {
	}
}

.content-modal-prod-1 {
	@media (max-width: 767px) {
		overflow-x: scroll;
	}

	// .content-modal-prod-1__wrapper

	&__wrapper {
		min-width: 740px;
		display: flex;
		flex-direction: column;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}

	// .content-modal-prod-1__row

	&__row {
		position: relative;
		display: flex;
		&:first-child {
			margin-bottom: 20px;
		}
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		&:not(:first-child) {
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				border-bottom: 2px solid #fff;
				bottom: -8px;
				left: 0;
			}
		}
	}

	// .content-modal-prod-1__title

	&__title {
		&:first-child {
			width: 25%;
		}
		&:not(:last-child) {
			padding-right: 15px;
		}
		width: 18.75%;
		color: $whiteColor;
		font-size: 18px;
		line-height: (22/18 * 100%);
		font-weight: 600;
		@media (max-width: 992px) {
			font-size: 16px;
		}
	}

	// .content-modal-prod-1__value

	&__value {
		&:first-child {
			width: 25%;
		}
		&:not(:last-child) {
			padding-right: 15px;
		}
		font-weight: 500;
		width: 18.75%;
		font-size: 16px;
		color: $whiteColor;
		@media (max-width: 992px) {
			font-size: 14px;
		}
	}
	//========================================================================================================================================================

	// .content-modal-prod-1__flex

	&__flex {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
		@media (max-width: 767px) {
			flex-direction: column;
			row-gap: 15px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .content-modal-prod-1__text-block

	&__text-block {
		flex: 0 0 50%;
		font-size: 18px;
		color: $lightGreyColor;
		padding-right: 30px;
	}

	// .content-modal-prod-1__label

	&__label {
		font-weight: 600;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			font-size: 16px;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .content-modal-prod-1__text

	&__text {
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		@media (max-width: 767px) {
			font-size: 16px;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .content-modal-prod-1__image

	&__image {
		img {
			object-fit: cover;
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================

.form-application {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 99998;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	// .form-application__box

	&__box {
		position: relative;
		max-width: 500px;
		width: 100%;
		z-index: 1;
		transform: scale(0);
		transition: transform 0.3s ease 0s;
		border-radius: 15px;
		background-color: $whiteColor;
	}

	// .form-application__body

	&__body {
		padding: 30px;
		@media (max-width: 550px) {
			padding: 20px;
		}
	}

	// .form-application__close

	&__close {
		position: absolute;
		top: 8px;
		right: 8px;
		background-color: transparent;
		padding: 5px;
		@media (any-hover: hover) {
			&:hover {
				path {
					stroke: #252525;
					transition: stroke 0.3s ease 0s;
				}
			}
		}
	}

	// .form-application__title

	&__title {
		color: $lightGreyColor;
		font-weight: 600;
		font-size: 36px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 992px) {
			font-size: 28px;
		}
		@media (max-width: 767px) {
			font-size: 24px;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .form-application__desc

	&__desc {
		font-size: 18px;
		color: $lightGreyColor;
		font-weight: 500;
		max-width: 380px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 550px) {
			font-size: 14px;
		}
	}

	// .form-application__form

	&__form {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	// .form-application__input

	&__input {
		display: block;
		border: 2px solid $greenColor;
		border-radius: 12px;
		padding: 15px 20px;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		&::placeholder {
			font-size: 16px;
		}
	}

	// .form-application__btn

	&__btn {
	}

	// .form-application__data-processing

	&__data-processing {
		font-size: 12px;
		font-weight: 500;
		color: #242424;
		opacity: 0.85;
	}

	&._open {
		visibility: visible;
		opacity: 1;
	}
	&._open &__box {
		transform: scale(1);
	}
}

.main-wrap-m-p-1 {
	// .main-wrap-m-p-1__row

	&__row {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 50px;
		}
		@media (max-width: 767px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}

	// .main-wrap-m-p-1__column

	&__column {
		border: 1px solid #000;
		width: 50%;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	// .main-wrap-m-p-1__title

	&__title {
		border: 1px solid #000;
		font-size: 20px;
		color: #4c4c4c;
		font-weight: 600;
		background-color: #ff9494;
		padding: 15px;
		&_green {
			background-color: #9bff94;
		}
		@media (max-width: 992px) {
			font-size: 16px;
		}
	}

	// .main-wrap-m-p-1__list

	&__list {
		padding: 30px 50px;
		@media (max-width: 992px) {
			padding: 20px;
		}
	}

	// .main-wrap-m-p-1__item

	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		&::before {
			content: "";
			display: inline-block;
			margin: 0 10px 3px 0;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #000;
		}
		font-weight: 600;
		color: #4c4c4c;
	}

	// .main-wrap-m-p-1__text

	&__text {
		color: #4c4c4c;
		font-weight: 600;
		line-height: (1.85);
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .main-wrap-m-p-1__label

	&__label {
		color: #4c4c4c;
		font-weight: 700;
		line-height: (1.85);
	}
}
